@rendermode InteractiveServer
@page "/pricing"
<div class="container py-5 text-white">
    <h2 class="mb-4 text-center">Choose Your Plan</h2>
    <div class="card-group">
        <div class="card bg-dark text-white">
            <div class="card-body">
                <h4 class="card-title">Standard - $149</h4>
                <p>1 Product License, Basic Support</p>
                <a class="btn btn-success" href="/checkout">Select</a>
            </div>
        </div>
        <div class="card bg-dark text-white">
            <div class="card-body">
                <h4 class="card-title">Pro - $349</h4>
                <p>3 Products License, Priority Support</p>
                <a class="btn btn-success" href="/checkout">Select</a>
            </div>
        </div>
        <div class="card bg-dark text-white">
            <div class="card-body">
                <h4 class="card-title">Business - $799</h4>
                <p>Unlimited Products, Dedicated Support</p>
                <a class="btn btn-success" href="/checkout">Select</a>
            </div>
        </div>
    </div>
</div>