@inherits LayoutComponentBase

<div class="nav-bar">
    <NavLink href="/" Match="NavLinkMatch.All">Home</NavLink>
    <NavLink href="/features">Features</NavLink>
    <NavLink href="/pricing">Pricing</NavLink>
    <NavLink href="/checkout">Checkout</NavLink>
</div>

<div class="main-content">
    @Body
</div>